body {
	margin: 0;
}

.parent
{
	min-height: 400px;
	background-color: gray;
	position: relative;
}
/*.child1,.child2,.child3,.child4,.child5{
	height: 100px;
	width: 100px;
	position: absolute;
}*/

.child1
{
	background-color: red;
	height: 100px;
	width: 100px;
	position: absolute;
	color: white;
}
.child2
{
	background-color: orange;
    top: 0;
    right: 0;
    height: 100px;
	width: 100px;
	position: absolute;
	color: white;
}
.child3
{
	background-color: blue;
    bottom: 0;
    left: 0;
    height: 100px;
	width: 100px;
	position: absolute;
	color: white;
}
.child4
{
	background-color: green;
    bottom: 0;
    right: 0;
    height: 100px;
	width: 100px;
	position: absolute;
	color: white;
}
.child5
{
	background-color: aqua;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 150px;
    height: 100px;
	width: 100px;
	position: absolute;
	color: white;
}